<!DOCTYPE html>
<html>
    <head>
        <title>Blog 1.0</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item">
                    <i class="calendar alternate outline icon"></i>
                    Blog Site 
                </div>
                <a href="/" class="item">Home</a>
                <a href="blog/new" method class="item">New Post</a>
            </div>
        </div>

